# ========================================================
# ENVIRONNEMENT DE PRODUCTION (SERVEUR OVH / AWS)
# ========================================================

# Clés API de Production (À CHANGER ABSOLUMENT avant de lancer publiquement)
LIVEKIT_KEYS=oscar_prod_key:oscar_super_secret_prod_key
LIVEKIT_PORT=7880

# Fichier de configuration réseau LiveKit (Utilise la version prod avec résolution STUN externe)
LIVEKIT_CONFIG_FILE=livekit.prod.yaml

# Room par défaut pour le Lot 1
DEFAULT_ROOM_NAME=oscar-lot1-room

# Configuration de la source vidéo du Robot (Simulation)
# Valeurs possibles : 'test_pattern', 'video_file', 'usb_camera'
MEDIA_SOURCE_TYPE=video_file

# Chemin de la vidéo virtuelle (Posez votre fichier MP4 dans backend/services/media-simulator/assets)
MEDIA_VIDEO_PATH=/app/assets/video_cam_virtuel/Supermarket_sample_1.mp4

# Numéro ou paramètre périphérique (si MEDIA_SOURCE_TYPE=usb_camera)
MEDIA_DEVICE=0
